body
	font-family: 'Darker Grotesque', sans-serif

.rosca-container
	margin: 0 auto
	max-width: 1025px

div[class^=rp-]
	text-align: center
	background-color: #A0522D
	height: 60px
	cursor: url("https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/64x64/knife.png"), auto
