.rosca-container
	&.extra
		max-width: 1200px
		.grid-container
			display: grid
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
			gap: 0px 0px
			grid-template-areas: "rp-1 rp-2 rp-3 rp-4 rp-5 rp-6 rp-7 rp-8 rp-9 rp-10 rp-11 rp-12 rp-13 rp-14 rp-15 rp-16 rp-17 rp-18 rp-19 rp-20" "rp-50 . . . . . . . . . . . . . . . . . . rp-21" "rp-49 . . . . . . . . . . . . . . . . . . rp-22" "rp-48 . . . . . . . . . . . . . . . . . . rp-23" "rp-47 . . . . . . . . . . . . . . . . . . rp-24" "rp-46 . . . . . . . . . . . . . . . . . . rp-25" "rp-45 rp-44 rp-43 rp-42 rp-41 rp-40 rp-39 rp-38 rp-37 rp-36 rp-35 rp-34 rp-33 rp-32 rp-31 rp-30 rp-29 rp-28 rp-27 rp-26"
			.rp-1
				grid-area: rp-1
			.rp-2
				grid-area: rp-2
			.rp-3
				grid-area: rp-3
			.rp-4
				grid-area: rp-4
			.rp-5
				grid-area: rp-5
			.rp-6
				grid-area: rp-6
			.rp-7
				grid-area: rp-7
			.rp-8
				grid-area: rp-8
			.rp-9
				grid-area: rp-9
			.rp-10
				grid-area: rp-10
			.rp-11
				grid-area: rp-11
			.rp-12
				grid-area: rp-12
			.rp-13
				grid-area: rp-13
			.rp-14
				grid-area: rp-14
			.rp-15
				grid-area: rp-15
			.rp-16
				grid-area: rp-16
			.rp-17
				grid-area: rp-17
			.rp-18
				grid-area: rp-18
			.rp-19
				grid-area: rp-19
			.rp-20
				grid-area: rp-20
			.rp-21
				grid-area: rp-21
			.rp-22
				grid-area: rp-22
			.rp-23
				grid-area: rp-23
			.rp-24
				grid-area: rp-24
			.rp-25
				grid-area: rp-25
			.rp-26
				grid-area: rp-26
			.rp-27
				grid-area: rp-27
			.rp-28
				grid-area: rp-28
			.rp-29
				grid-area: rp-29
			.rp-30
				grid-area: rp-30
			.rp-31
				grid-area: rp-31
			.rp-32
				grid-area: rp-32
			.rp-33
				grid-area: rp-33
			.rp-34
				grid-area: rp-34
			.rp-35
				grid-area: rp-35
			.rp-36
				grid-area: rp-36
			.rp-37
				grid-area: rp-37
			.rp-38
				grid-area: rp-38
			.rp-39
				grid-area: rp-39
			.rp-40
				grid-area: rp-40
			.rp-41
				grid-area: rp-41
			.rp-42
				grid-area: rp-42
			.rp-43
				grid-area: rp-43
			.rp-44
				grid-area: rp-44
			.rp-45
				grid-area: rp-45
			.rp-46
				grid-area: rp-46
			.rp-47
				grid-area: rp-47
			.rp-48
				grid-area: rp-48
			.rp-49
				grid-area: rp-49
			.rp-50
				grid-area: rp-50