.rosca-container
	&.mediana
		max-width: 960px
		.grid-container
			display: grid
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
			grid-template-rows: 1fr 1fr 1fr 1fr
			gap: 0px 0px
			grid-template-areas: "rp-1 rp-2 rp-3 rp-4 rp-5 rp-6 rp-7 rp-8" "rp-20 . . . . . . rp-9"	"rp-19 . . . . . . rp-10" "rp-18 rp-17 rp-16 rp-15 rp-14 rp-13 rp-12 rp-11"
			div[class^=rp-]
				height: 100px
			.rp-1
				grid-area: rp-1
			.rp-2
				grid-area: rp-2
			.rp-3
				grid-area: rp-3
			.rp-4
				grid-area: rp-4
			.rp-5
				grid-area: rp-5
			.rp-6
				grid-area: rp-6
			.rp-7
				grid-area: rp-7
			.rp-8
				grid-area: rp-8
			.rp-9
				grid-area: rp-9
			.rp-10
				grid-area: rp-10
			.rp-11
				grid-area: rp-11
			.rp-12
				grid-area: rp-12
			.rp-13
				grid-area: rp-13
			.rp-14
				grid-area: rp-14
			.rp-15
				grid-area: rp-15
			.rp-16
				grid-area: rp-16
			.rp-17
				grid-area: rp-17
			.rp-18
				grid-area: rp-18
			.rp-19
				grid-area: rp-19
			.rp-20
				grid-area: rp-20

